@model Dominio.Socio
@using Dominio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Socio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdSocio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSocio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Model.FechaNacimiento.ToShortDateString()
            <!--@@Html.DisplayNameFor(model => model.FechaNacimiento) -->
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Model.FechaIngreso.ToShortDateString()
            <!--@@Html.DisplayNameFor(model => model.FechaIngreso) -->
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @if (!Model.ValidarPagoMembresia())
    {
        @Html.ActionLink("Crear Cuponera", "CreateCuponera", new { cedula = Model.Cedula }) @:|
        @Html.ActionLink("Crear Pase Libre", "CreatePaseLibre", new { cedula = Model.Cedula }) @:|

    }
    @Html.ActionLink("Listar Cuponeras", "ListarMCuponeraPorSocioId", new { id = Model.IdSocio }) |
    @Html.ActionLink("Listar Pases Libres", "ListarPaseLibrePorSocioId", new { id = Model.IdSocio })

</p>
